node-red-iot.json
[
    {
        "id": "bf37bc87d41e6a75",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9ea2d2cef3ec5f60",
        "type": "group",
        "z": "bf37bc87d41e6a75",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "8eb015599e59a58d"
        ],
        "x": 634,
        "y": 279,
        "w": 172,
        "h": 82
    },
    {
        "id": "2f2f02b177acba9f",
        "type": "mqtt in",
        "z": "bf37bc87d41e6a75",
        "name": "",
        "topic": "v3/iotlab-s6@ttn/devices/+/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4c709d98ce67b908",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 360,
        "wires": [
            [
                "8bdd9157608fe5a4",
                "045cc3ac6e4f41ab"
            ]
        ]
    },
    {
        "id": "8bdd9157608fe5a4",
        "type": "function",
        "z": "bf37bc87d41e6a75",
        "name": "extract-data",
        "func": "let data = msg.payload.uplink_message.decoded_payload;\n\nnode.send([\n    { payload: data.temperature },\n    { payload: data.co2 },\n    { payload : data.humidity},\n    { payload: data.score },\n    { payload: data.state },\n    { payload: data.alarm }\n]);",
        "outputs": 6,
        "timeout": "0",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 360,
        "wires": [
            [
                "adc4429e4fd83f3f"
            ],
            [
                "8eb015599e59a58d"
            ],
            [
                "dd81c8eb16b67b45"
            ],
            [
                "1fb9e1f32810edfe"
            ],
            [
                "c8a790946ceae157"
            ],
            [
                "fd49d124f11d2f34"
            ]
        ]
    },
    {
        "id": "adc4429e4fd83f3f",
        "type": "ui_chart",
        "z": "bf37bc87d41e6a75",
        "name": "",
        "group": "68ba80229c7c187c",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "temp-chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "300",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "1fb9e1f32810edfe",
        "type": "ui_gauge",
        "z": "bf37bc87d41e6a75",
        "name": "",
        "group": "68ba80229c7c187c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "score-gauge",
        "label": "units",
        "format": "Score",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 380,
        "wires": []
    },
    {
        "id": "c8a790946ceae157",
        "type": "ui_text",
        "z": "bf37bc87d41e6a75",
        "group": "68ba80229c7c187c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "state",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 440,
        "wires": []
    },
    {
        "id": "fd49d124f11d2f34",
        "type": "ui_text",
        "z": "bf37bc87d41e6a75",
        "group": "68ba80229c7c187c",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "alarm",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 500,
        "wires": []
    },
    {
        "id": "045cc3ac6e4f41ab",
        "type": "debug",
        "z": "bf37bc87d41e6a75",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 460,
        "wires": []
    },
    {
        "id": "dd81c8eb16b67b45",
        "type": "ui_chart",
        "z": "bf37bc87d41e6a75",
        "name": "",
        "group": "68ba80229c7c187c",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "hum-chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "8eb015599e59a58d",
        "type": "ui_chart",
        "z": "bf37bc87d41e6a75",
        "g": "9ea2d2cef3ec5f60",
        "name": "",
        "group": "68ba80229c7c187c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "co2-chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1200",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "4c709d98ce67b908",
        "type": "mqtt-broker",
        "name": "",
        "broker": "eu1.cloud.thethings.network",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "68ba80229c7c187c",
        "type": "ui_group",
        "name": "Live data",
        "tab": "1042c2b7721e0ce9",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1042c2b7721e0ce9",
        "type": "ui_tab",
        "name": "Fire monitor",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f930b045fac0f510",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]